body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url("../images/weathermanybackdrop.jpg");
    background-size: cover;
    background-position: center;
    color: #f5f5f5;
    padding: 30px 0;
    text-align: center;
}

.container {
    display: flex;
    padding: 10px;
}

.search-container {
    flex: 1;
    max-width: 210px;
    padding: 10px;
    background-color: #f0f0f0;
    margin-right: 20px;
}

#city-input {
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box
}

#search-button {
    padding: 5px;
    margin-bottom: 10px;
    background-color: #0b66ce;
    color: white;
    border: none;
    cursor: pointer;
}

#city-buttons button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #ccc;
    border: none;
    cursor: pointer;
}

#search-history {
    display: flex;
    flex-direction: column;
}

#search-history button {
    background-color: #ccc;
    border: none;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.weather-container {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.current-weather {
    background-image: url("../images/weatherbackdrop.png");
    background-size: cover;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
}

.forecast-container {
    display: flex;
    flex-direction: column;
}

#forecast {
    display: flex;
    justify-content: space-around;
}

.forecast-card {
    background-image: url("../images/weatherbackdrop.png");
    color: white;
    padding: 45px;
    margin: 5px;
    margin-top: 5px;
    text-align: center;
    flex: 1;
    max-width: 150px 0;
    max-height: 150px 0;
}