body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url("../images/weathermanybackdrop.jpg"); /* link to the Header's background */
    background-size: cover;
    background-position: center;
    color: #f5f5f5;
    padding: 30px 0;
    text-align: center;
}

.container { /* position of the Search area box */
    display: flex;
    padding: 10px;
}

.search-container { /* search button container styling */
    flex: 1;
    max-width: 210px;
    padding: 10px;
    background-color: #f0f0f0;
    margin-right: 20px;
}

#city-input { /* styling of the Enter City Name box */
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box
}

#search-button { /* styling for the actual search button */
    padding: 5px;
    margin-bottom: 10px;
    background-color: #0b66ce;
    color: white;
    border: none;
    cursor: pointer;
}

#city-buttons button {  /* styling for the previously searched cities */
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #ccc;
    border: none;
    cursor: pointer;
}

#search-history { /* previously searched cities styling section */
    display: flex;
    flex-direction: column;
}

#search-history button { /* styling for the previously searched cities history */
    background-color: #ccc;
    border: none;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.weather-container { /* layout of Todays weather box */
    flex: 2;
    display: flex;
    flex-direction: column;
}

.current-weather { /* structure of text and background image for Todays weather box */
    background-image: url("../images/weatherbackdrop.png");
    background-size: cover;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
}

.forecast-container { /* page position of the 5 day forecase cards */
    display: flex;
    flex-direction: column;
}

#forecast { /* layout of the 5 day forecast cards */
    display: flex;
    justify-content: space-around;
}

.forecast-card { /* styling for the 5 day forecast cards */
    background-image: url("../images/weatherbackdrop.png");
    color: white;
    padding: 45px;
    margin: 5px;
    margin-top: 5px;
    text-align: center;
    flex: 1;
    max-width: 150px 0;
    max-height: 150px 0;
}